.contact{
    a{
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
        display: block;
        width: fit-content;
    &:hover{
        color: #fff;
        background-color: #0075ff;
        transition: 0.3s;
    }
    }
}
.about .project{
    position: relative;
    a{
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
        display: block;
        width: fit-content;
        background-color: #0075ff;
        color: #fff;
    &:hover{
        color: #000;
        background-color: transparent;
        transition: 0.3s;
    }
    }
}
