.box h2.c{
    font-size: 30px;
    width: fit-content;
    margin: 35px auto;
}
.box h3.p{
    font-size: 15px;
    margin: 0 auto;
    width: fit-content;
    color: #0075ff;
    border-bottom: 2px solid #0075ff;
}